.chat-container
{
    padding-top: 80px;
    color: black
}
.user_details
{
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.photo
{
    flex: 1;
}
.user_details_name_time
{
    flex: 8;
}
.name
{
    display: flex;
    justify-content: space-between;
}