.chat-container
{
    padding-top: 80px;
    color: black
}
.user_details
{
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.photo
{
    flex: 1;
}
.user_details_name_time
{
    flex: 8;
}
.name
{
    display: flex;
    justify-content: space-between;
}

.userDetails{
        background-color: #7e91b7;
}


 
 
 
.chat_details
{
    height: 100%;
    border: 2px solid black;
}
.send_message {
    display: flex;
}
.send_message input
{
    flex: 5;
}
.send_message button
{
    flex: 1;
}
.oldchat
{
    height: 70vh;
    overflow-y: scroll;
}
.msg_container
{
    display: flex;
    padding: 10px;
}
.right
{
    justify-content: flex-end;
}
.userimg{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 50px;
    

}
.cover{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.header_chat{
    background: grey;
    height: 60px;
    position: relative;
    width: 100%;
}

.recents{
    margin: 2rem 0;
}

.messageImg{
    width:3rem;
    
}

.messageImg img{
    width: 100%;
    border-radius: 50%;
}

.search-box{
    width: 70%;
}

.brforeLoginchat{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BeforeLoginImg{
    position: absolute;
    top: 0;
    z-index: -2;
}