.chat-container
{
    padding-top: 80px;
    color: black
}
.user_details
{
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.photo
{
    flex: 1;
}
.user_details_name_time
{
    flex: 8;
}
.name
{
    display: flex;
    justify-content: space-between;
}
.chat_details
{
    height: 100%;
    border: 2px solid black;
}
.send_message {
    display: flex;
}
.send_message input
{
    flex: 5;
}
.send_message button
{
    flex: 1;
}
.oldchat
{
    height: 70vh;
    overflow-y: scroll;
}
.msg_container
{
    display: flex;
    padding: 10px;
}
.right
{
    justify-content: flex-end;
}