.chatting_window
{
    color: black;
}
.chattop
{
    display: flex;
    justify-content: space-between;
    color: black;
    border-bottom: 1px solid;
}
.chat_option
{
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.chatwindow_img
{
    background-color: red;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
.user
{
    display: flex;
    padding: 10px;
    align-items: center;
}
ul
{
    margin: 0px;
}
.user_detailschatWindow
{
    display: flex;
    flex-direction: row;
justify-content: space-between;
align-items: center;

}

.chat_individual_message
{
    display: flex;
    padding: 10px;
    position: relative;
    align-items: flex-end;
}

.chat_individual_message_text
{
    background-color: #7269ef;
    min-width: 150px;
    border-radius: 10px 10px 10px 0px;
    font-size: 14px;
}
.chat_individual_message_text p
{
    padding: 4px;
}
.chat_individual_message_cut
{
    background-color: #7269ef;
    min-width: 150px;
    height: 16px;
    transform: rotate(352deg);
    position: absolute;
    left: 0px;
    top: 54px;

}
.chat_photo
{
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 20px;
}
.chat
{
    overflow-y: auto;
    max-height: 65vh;
}
/* .chatting_box{
    position: fixed;
} */

.chatting_box form
{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.chatting_box_text
{
    flex: 2;
    padding: 10px;
}
.extra_option
{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.chat_right
{
    justify-content: flex-end;
}
.chat_text_contain
{
    position: relative;
}
p
{
    margin: 0px;
    padding: 0px;
}

.search{
    position: absolute;
    z-index: 999;
    top: 20%;
    color: #000;
    width: 30%;
}