.sign{
    height: 80vh !important;
}
.sing_form
{
    color: #3b368c;
    margin-top: 70px;
    height: 80vh;
    padding-right: 30px;
}
.sing_form h2
{
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 11px;
}
.sing_form p
{
    line-height: 30px;
}
.content_title
{
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 25px;
}
.sing_my_control
{
    border: 1px solid rgba(59, 54, 140, 0.1);
    background-color: rgb(234, 242, 252);
    box-shadow: 1.948px 13.864px 6px 0px rgb(220 234 251 / 30%);
    font-size: 16px;
    color: #3b368c;
    padding: 0px 30px;
    height: 60px;
}
.image_sing img{
    width: 100%;
    height: 100vh !important;
}
.image_sing
{
    display: none;
}
.acc_btn
{
    width: 50%;
    margin-left: 20%;
    font-size: small;
    padding: 10px 15px;
    text-align: center;
}
/* width */
.sing_form::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .sing_form::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .sing_form::-webkit-scrollbar-thumb {
    background: rgb(11, 161, 180); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .sing_form::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
@media only screen and (min-width: 992px)
{
    .image_sing
    {
        display: block;
    }
    .sing_form
    {
        overflow-y: scroll;
    }
    .acc_btn
    {
        font-size: 16px;
        padding: 15px 50px;
    }
}


 
.gender , .genders{
    border: 1px solid rgba(59, 54, 140, 0.1);
    background-color: rgb(234, 242, 252);
    -webkit-box-shadow: 1.948px 13.864px 6px 0px rgb(220 234 251 / 30%);
    box-shadow: 1.948px 13.864px 6px 0px rgb(220 234 251 / 30%);
    -webkit-box-align: center;
    width: 100%;
    display: flex;
    -ms-flex-align: center;
    justify-content: space-evenly;
    height: 60px;
    border-radius: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.error{
    color: red;
    text-transform: capitalize;
      }