.banner
{
    background: url('../../static/background/banner.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 20px    ;
}
.data
{
    text-align: center;
}
.form
{
    position: relative;
    color: #333333;
    background: #fff;
    padding: 23px 0px 60px;
    border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
}
.data h1 
{
    font-size: 290%;
    line-height: 128%;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}
@keyframes leftRight {
    0% {
              transform: translateX(0px);
    }
    50% {
              transform: translateX(-15px);
    }
    100% {
              transform: translateX(0px);
    }
  }
@keyframes topDown {
    0%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(-15px);
    }
    100%
    {
        transform: translateY(0px);
    }
}
.img1
{
    animation: leftRight 5s linear infinite;
}
.img2
{
    
    animation: topDown 5s linear infinite;

}
.input_field
{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 22px 20px 15px;
    text-align: center;
}
.input_field p 
{
    line-height: 28px;
    font-weight: 500;
    padding: 10px 20px 10px 0px;
    margin: 0px;
}
.input_field .option
{
    display: flex;
    text-align: center;
   
}
.option input
{
    cursor: pointer !important;
}
.input_field .option label
{
    padding: 10px 20px 10px 10px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
}
.form .custom_btn
{
    border-radius: 20px;
    background-image: linear-gradient(170deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
    border-color: transparent;
    padding: 15px 50px;
    color: white;
    font-size: 18px;
    margin: auto;
    box-shadow: 0.872px 9.962px 20px 0px rgb(12 78 165 / 30%)
}
.input_field a
{
    margin: auto;
}
/* Responsive Design */
@media only screen and (min-width: 1000px) {
    .img2
    {
        position: absolute;
        left: 25%;
        top: 75%;
    }
    .image
    {
        position: absolute;
        top: 20%;
        right: 0%;
    }
}
@media only screen and (min-width: 992px)
{
    .banner
    {
        padding-top: 190px;
    }
}